@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');


@media (max-width: 1024px){
    html {
        font-size: 14px;
    }
}
@media (max-width: 785px){
    html {
        font-size: 12px;
    }
}
@media (max-width: 680px){
    html {
        font-size: 11px;
    }
}
@media (max-width: 480px){
    html {
        font-size: 10px;
    }
}
@media (max-width: 380px){
    html {
        font-size: 9px;
    }
}
@media (max-width: 300px){
    html {
        font-size: 8px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

body {
    background: linear-gradient(180deg, rgba(229,242,255,1) 0%, rgba(255,255,255,1) 100%);
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font: 300 1rem 'Work Sans'  ;
    position: relative;
}
.nav-list {
    list-style: none;
    display: flex;
    width: max-content;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 1rem 0;

}
.nav-icon {
	display: none;
    padding: 0.7rem;
}
.nav-icon>img {
    width: 2rem;
}
.nav-item {
    margin: 0.5rem 0;
}
.nav-item > a{
    padding: 1rem 2rem;
    margin: 1rem 0;
    height: min-content;
    cursor: pointer;
    text-decoration: none;
    color: #001e2d;
    transition: all 200ms ease-in-out;
}
.nav-item > a:hover {
    text-decoration: underline red 2px;
}
.logo {
    max-width: 4rem;
}
.contact {
    margin: auto 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    padding: 0.5rem;
    border-radius: 50%;
}
.contact > img{
    max-width: 2rem;
}
.contact:hover {
    transform: scale(1.2,1.2) rotate(10deg);
    background-color: #00aaff7e;
}
.company-nav {
    height: min-content;
}
.company-content {
    display: flex;
    opacity: 0;
    height: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(229,242,255,1) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
    z-index: 100;
    border-radius: 5px;
    transition: all 200ms linear;
}
.company-item {
    padding: 1rem 1.5rem;
    display: none;
    color: #001e2d;
    width: 100%;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}
.company-item:hover {
    text-decoration: underline red 1px;
    background-color: rgba(0,0,0,0.1);
}
.company-item:first-child {
    margin-top: 1rem;
}
.company-nav:hover .company-content{
    opacity: 1;
    height: max-content;
}
.company-nav:hover .company-item {
    display: block;
}
.company-nav:hover > a {
    text-decoration: underline red 2px;
}
.active >a {
    text-decoration: underline red 2px;
}
@media screen and (max-width: 550px) {
    .nav-list{
        opacity: 0;
        position: absolute;
        height: 0;
        padding-top: 2rem;
        top: 70%;
        z-index: 100;
        flex-direction: column;
        background: linear-gradient(180deg, rgba(229,242,255,1) 0%, rgba(255,255,255,1) 100%);
        border-radius: 5px;
        transition: all 200ms ease-in-out;
	}
    .company-content {
        position: unset;
        background: #e4f0fc;
    }
    .nav-item {
        display: none;
        padding: 1rem 2rem;
    }
	.nav-icon  {
		display: block;
        margin: auto 0;
	}
    .company-nav:hover .company-content{
        opacity: unset;
        height: unset;
    }
    .company-nav:hover .company-item {
        display: unset;
    }
}


footer {
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid red;
    padding: 3rem;
    background-color: #00264D;
    color: #EFFAFF;
}
footer a {
    padding-top: 0.5rem;
    text-decoration: none;
    color: #EFFAFF;
    font-size: 0.8rem;
    transition: all 200ms ease-in-out;
}
footer a:hover {
    color: #bcc5c9;
}
.footer-content {
    display: flex;
    justify-content: space-evenly;
    width: 65vw;
}
@media (max-width: 680px){
    footer {
        flex-direction: column;
    }
    .footer-content {
        width: 100%;
    }
    .footer-content > div{
        width: 33vw;
    }
}
@media (max-width: 500px){
    footer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
.footer-1 , .footer-2, .footer-3, .footer-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: min-content;
    padding: 0 1rem;
    margin-bottom: 2rem;
}
.footer-1 > img{
    width: 5rem;
    margin: 1rem;
}
.footer-1 > h4 {
    font: 400 1.2rem 'Work Sans';
    color: #EFFAFF;
}
.footer-1 > p {
    font: 300 0.8rem 'Work Sans';
    color: #EFFAFF;
    
}
.footer-3 > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-link {
    display: block;
    padding: 0;
    font: 400 1rem 'Work Sans';
    color: #EFFAFF;
    
}


.contact-box {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}
#contactPopup {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    height: min-content;
    width: max-content;
    font: 400 1.5rem 'Work Sans';
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10em black;
}
#contactPopup>span {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}
#contactPopup>span>img{
    padding: 0.5em;
    width: 2.1em;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
#contactPopup>span>img:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}
#contactPopup>p {
    padding: 1.5rem;
}
#contactPopup>a {
    margin: 0 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}
#contactPopup img {
    margin: 0.2rem;
    width: 1.5rem;
}

#contactHeading {
    padding: 0 1em;
    font: 300 2rem 'Work Sans';
    text-align: center;
    border-bottom: 1px solid black;
}